%div{id: "main", class: "container-fluid clear-top"}
  %div{class: "container-fluid"}
    - if @meeting.presentation_viewer_url
      %iframe{src: @meeting.presentation_viewer_url, width: "100%", height: 600}
    - else
      %h2 No Screen Share Available At The Moment

- if current_user
  = @meeting.presentation_applet_html


%div{class: "navbar navbar-fixed-bottom"}
  #publisher1{style: "float: left;"}
  #publisher2{style: "float: right;"}

:javascript
  var session = TB.initSession("#{@meeting.session_ident}");
  session.addEventListener('sessionConnected', sessionConnectedHandler);
  session.addEventListener("streamCreated", streamCreatedHandler);
  session.addEventListener('streamDestroyed', streamDestroyedHandler);

  session.connect("#{@api_key}", "#{@token}");