%fieldset
  %legend Meetings

  %table
    %thead
      %tr
        %th
        %th Meeting Session ID
    %tbody
      - meetings.each do |meeting|
        %tr
          %td
            = link_to meeting_path(meeting), method: :delete, confirm: "Are you sure?" do
              %i.icon-trash
          %td
            = link_to meeting.name, join_meeting_path(meeting)